
<form action="/mob/tumblr/connect_tumblr">
	Tumblr Email: 
	</br>
	<div class="field" align="center">
	<input type="text" name="email">
	</br>
	</div>
	Tumblr Password: 
	</br>
	<div class="field" align="center">
	<input type="password" name="password">
	</br>
	</div>
	<input type="submit" name="commit" value="Authenticate">
</form>