<div id="user_nav">
  <%= link_to "Register", new_user_path %>
  <%= link_to "Log in", new_user_session_path %>
</div>
<form action="mob/test" method="post">
	id of the user: <input type="text" name="id">
	</br>
	<input type="submit" name="commit" value="Login">
</form>


