<h3 style="color:#555;">Feedback</h3>
<form action="send_feedback" method="post">
	<div align="center">
			<label>Please enter your feedback below:</label>
		<textarea cols="40" rows="8" name="text"></textarea>
	</div>
	<div align="center">
		<input type="submit" name="commit" value="send" style="width:100px">
	</div>
</form>