<form action="resetPassword" method="post">
		<label>Email:</label>
	<div align="center">
		<input class="field" align="center" style="height:40px; width:200px" placeholder="E-mail" name="email">
	</div>
	<div align="center">
		<input type="submit" name="commit" value="Reset" style="width:100px">
	</div>
</form>