<!--$$$$$$$$$$$$$$$$$$ Rana $$$$$$$$$$$$$$$$$$$ -->

<div id = "heading" style="padding-left:5px;">
	      <h4>Click a story to unblock it.</h4><br>
</div>

<div id = "list" class ="story-component-box-mobile", style ="padding-left:5px;">
           <!--creates a button for each story to unblock it-->
	  <% @blocked_stories.each do |blocked_story|%>
	     <%= link_to blocked_story.title, {:controller => 'users', :action =>
                 'unblock_story', :id => Story.find_by_id(blocked_story.id)}, class:
                 "user-component-button-absolute btn span2"%><br><br><br><br>
	  <%end%>
</div>

<!--$$$$$$$$$$$$$$$$$$ Rana $$$$$$$$$$$$$$$$$$$ -->
