<h3 style="color:#555;">Notifications</h3>

<% @new.each do |n| %>
	<% if n.notify_type == 5 %>
	<div class="notification notification-new">
	<b><%= User.find(n.user).name %></b> liked your comment "<%=Comment.find(n.comment).content %>" on the story <a><%= Story.find(n.story).title %></a>
	</div>
	<% end %>

<% end %>
<div class="notification notification-new">
	Ahmed commented on "ahmed yahalahwy"
</div>
<div class="notification notification-new">
	Bassem has sent you a friendship request
</div>
<div class="notification">
	Ma3tooh has accepted your friend request
</div>
<div class="notification">
	El fetar ba3d 5 sa3at
</div>
<div class="notification">
	el wa7sh has liked your comment "xxxxxxxxx" on the story "yalahwy el shebsheb da3"
</div>
<div class="notification">
	el 3osoor 3ala 5aroof tayeh 3and el gates
</div>
<div class="notification">
	hello
</div>
<div class="notification">
	hello
</div>
<div class="notification">
	hello
</div>