<%= form_for (@feed) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :link %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>


