<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	    <p>  
	You have recieved an invitation to La2etlak Nokia app
	   </p>
	   <br>
	  <p>
	  	'<%= @user %>' has invited you to La2etlak application. He recommendeds you a story ' <a href= <%= @storyurl %> ><%= @storytit %> </a>' with a message '<%= @mess %>'  
	 
	</p>
	<p>
	Go ahead and sign up to La2etlak
	</p>
  </body>
</html>
