<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
	    <p>  
	you have recieved an invitation to La2etlak app
	   </p>
	   <br>
	  <p>
	  	your friend '<%= @user %>' has invited you to La2etlak application when he recommended you a story ' <a href= <%= @storyurl %> ><%= @storytit %> </a>' with a recommendation message '<%= @mess %>'  
	 
	</p>
	<p>
	go ahead and sign up to La2etlak
	</p>
	    <p>  we are waiting you<p>
  </body>
</html>
