<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
    	you have recieved a recommendation in La2etlak app
   </p>
   <br>
<p>
your friend <%= @user %> has sent you a recommendation with the message '<%= @mess %>'
 to the story ' <a href= <%= @storyurl %> ><%= @storytit %> </a> '</p>
  </body>
</html>