Dear <%= @account.email %>,

Thank you for registering with 2allak,
please verify your email to continue using our application,
your application code is <%= @code %>

Enjoy 2allak,
have a good day :)
