<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>La2etlak new password request</h2>
		<p> A request has been made to reset your password </p>
		<p><b>please ignore this email if you didn't make this request<b><p>
		</br>
    <p> your new password is <b><%= @pass %><b> </p>
		</br>
		<p> <b> Please not that your old password will not change until you login with this password <b> <p>
    <p> Thank you for using La2etlak, have a nice day ! </p>
  </body>
</html>
