<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your password was reset by the admin</h1>
    your new password is <b> <%= @passw %> </b> 	
    <p> Please use this password to login from now on, you can change it from settings <p>
    <p> Sorry for the inconvenience. </p>
  </body>
</html>
