<!-- Auther: khaled.elbhaey -->
<div align="center">	
		<div id="liked">
			<p>
				<b>
				  Friends who liked this story
				</b> 
            </p>
			<% @friends.each do |f| %><!-- list of friends who liked the story -->
				<%=f%>
				<br>
			 <%end%>
			
		</div>	
</div>
