

<!--kareem new -->
<html>
<% if current_user.friends != [] %>
<div align="center">
<h4> Search for a Friend: </h4><br>
<div align="center">
	<%= form_tag("/mob/friendship/#{@storyid}/search_recomend", :method => "get") do %>
  <%= text_field_tag(:query, "#{@query}", :style => "height:40px;width:80%",
  									 :placeholder => 'Search') %>
  <br><%= submit_tag('Search', :class => 'btn', :style => "height:30px;width:40%",) %>
</div>
<% end %>
</div>  
<% end %>


<!--kareem new -->
<br>
<h3 align = "center" > OR </h3>
<!-- Auther: khaled.elbhaey -->
<div align="center">
	<div id="submit">
		<form action="/mob/stories/recommend_success_mobile_show/<%= @storyid%>"><!-- form which the user fill input in -->
			<div id="recommendation">
					
					<p>
						
						<h4>Write an E-mail manually:</h4> 
					</p>
			
			  
			<input type="text" name="email" id="fmail" style ="height:30px; width:80%" placeholder ="E-mail"/>
			<br>
			<p>
				<h4>Recommendation Message:</h4> 
			</p>
			<textarea rows="2" cols ="20" name="message" placeholder ="Message"></textarea>
			<br>  
			<input type="submit" name="commit" value="send" style= "width:100px" />
		</form>	
	</div>
</div>
</html>