<!-- Auther: khaled.elbhaey -->
<div align="center">
	<div id="submit">
		<form action="/mob/stories/recommend_success_mobile_show/<%= @storyid%>"><!-- form which the user fill input in -->
			<div id="recommendation">
			<%if @flistemail.empty?%>
			<p>
				<br> 
				 email: 
			</p>
		    <%else%>
				    <b>
					  choose a friend's email
					</b>
					<br>
				    <br>
					<table id="list">
						<% @flistemail.each do |f| %><!-- list of friends email-->
							<tr>
								<td>
								 <input type="radio" name="lemail" value=<%=f%>><%=f%>
								 <br>
								</td> 
							</tr>
						<%end%>
					</table>
					<p>
						<br> 
						or write an email manually: 
					</p>
			<%end%>
			  
			<input type="text" name="email" id="fmail" style ="height:30px; width:200px" placeholder ="E-mail"/>
			<br>
			<p>
				recommendation message: 
			</p>
			<input type="text" name="message" style ="height:30px; width:200px" placeholder ="Message"/>
			<br>  
			<input type="submit" name="commit" value="send" style= "width:100px" />
		</form>	
	</div>
</div>
