

<!kareem new -->
<html>
<h4> Search for a Friend </h4>
<%= form_tag("/mob/friendship/#{@storyid}/search_recomend", :method => "get") do %>
  <%= text_field_tag(:query, "#{@query}", :style => "height:40px;",
  									 :placeholder => 'Search') %>
  <%= submit_tag('Search', :class => 'btn pull-right', :style => "height:40px;",) %>
<% end %>
<!-- Auther: khaled.elbhaey -->
<div align="center">
	<div id="submit">
		<form action="/mob/stories/recommend_success_mobile_show/<%= @storyid%>"><!-- form which the user fill input in -->
			<div id="recommendation">
			
					<br>
				    <br>
					
					<p>
						<br> 
						<h4>Or Write an E-mail manually:</h4> 
					</p>
			
			  
			<input type="text" name="email" id="fmail" style ="height:30px; width:200px" placeholder ="E-mail"/>
			<br>
			<p>
				<h4>Recommendation Message:</h4> 
			</p>
			<textarea rows="2" cols ="20" name="message" placeholder ="Message"></textarea>
			<br>  
			<input type="submit" name="commit" value="send" style= "width:100px" />
		</form>	
	</div>
</div>
</html>